h1{
	color:black;
	text-decoration:underline;
	}
body {background-color: hotpink; 
	font-family: "Comic Sans Ms", cursive, sans-serif;
	margin:0;
}
#navbar{
	background-color:red;
	color:black;
}
#navbar ul {
	padding:0;
	list-style: none;
}
#navbar li{
	display:inline;
}
#navbar a{
	color:black;
	text-decoration: none;
	font-size: 18px;
	padding-right:75px;
	padding-left: 75px;
}
.box-1{
	background-color: yellow;
	border: 5px black dotted;
	padding: 5px;
	
}
.box-2{
	background-color: white;
	border: 5px red dotted;
}
.box-3{ padding: 10px;
color:black;

]